<link rel="stylesheet" href="../stylesheets/player-entry.css" type="text/css"  media="screen,projection"/>

<!--
This section contains the header, 'begin button', the dropdown to enter the number of players, and the
player selection code
-->
<section id="player-entry-section">

  <!-- this opening div is hidden once you click the 'begin' button -->
  <div class="animate-hide row" ng-hide="entry.started">
    <!-- this button calls startEntering() -->
    <button class="col s2 offset-s5" ng-click="entry.started = true">Begin</button>
  </div>

  <div ng-hide="entry.selectionComplete">

  <!-- this is the player entry div. It's hidden until you click 'begin' -->
    <div ng-hide="!entry.started" class="animate-hide row">
      <select ng-model="entry.numPlayers"
              ng-options="num for num in [2,3,4]"
              title="Number of Players"
              id="num-player-select"
              ng-hide="entry.numPlayers >=2"
              class="animate-hide col s4 offset-s4"
              novalidate required autofocus>
        <option value disabled>Enter number of players</option>
      </select>
      <div id="entry-forms" ng-show="entry.numPlayers >= 2" class="animate-hide">
        <h5>{{entry.headerSelect()}}</h5>
        <div>
          <p>Choose from list below or create a new player</p>
          <p>(shift- or command-click to select multiple players)</p>
        </div>
        <button ng-click="entry.goBack()">Go back (choose a different number of players)</button>
        <div id="selected-players" class="row">
          <p>Current selection:</p>
          <p ng-repeat="player in entry.playersEntered" ng-hide="entry.playersEntered.length < 1">
            <strong>{{player.name}}, </strong>
            {{player.record.wins}} win<span ng-show="player.record.wins !== 1">s</span>,
            {{player.record.losses}} loss<span ng-show="player.record.losses !== 1">es</span>,
            {{player.record.ties}} tie<span ng-show="player.record.ties !== 1">s</span>
          </p>
          <p ng-show="entry.compareNums() < 0"><strong>You've entered too many players. Please only choose {{entry.numPlayers}} players.</strong></p>
        </div>
        <select ng-model="entry.playersEntered"
                title="Player Selection"
                id="player-selection"
                ng-options="player.name for player in entry.availablePlayers  | orderBy:'name'"
                class="col s4 offset-s4"
                multiple autofocus>
          <optgroup label="Available Players"></optgroup>
        </select>
        <div class="row">
          <form ng-submit="entry.createNewPlayer()" id="player-creation-form">
            <input type="text"
                   ng-model="entry.newPlayerName"
                   name="new-player-input"
                   id="new-player-input"
                   class="col s2 offset-s4"
                   placeholder="New player name" />
            <div class="row">
              <input type="submit" id="submit" class="col s2 offset-s4" value="Create new player" />
            </div>
          </form>
        </div>
      </div>
      <div ng-show="entry.compareNums() == 0 && entry.playersEntered.length >= 2">
        <button ng-click="entry.doneEntering()">I'm satisfied with this player selection</button>
      </div>
    </div>
  <div>
</section>
