<link rel="stylesheet" href="../stylesheets/rummy-table.css" type="text/css"  media="screen,projection"/>
<section>
  <div id="start-button-div" ng-hide="table.game.started">
    <button id="start-button" ng-click="table.startGame()" class="waves-effect waves-light btn grey lowercase">{{table.displays.startButtonText}}</button>
  </div>

  <!-- This is the scoring table at the heart of the app -->
  <div id="table" ng-show="table.game.started">
    <div class="row">
      <div class="table-head-row" ng-repeat="player in table.game.players">
          <div class="table-head-cell col s3">{{player.name}}</div>
      </div>
    </div>
    <div id="table-body">
      <div class="row">
        <div class="table-body-row row" ng-repeat="turn in table.game.score.turns">
            <div class="table-body-cell col s3" ng-repeat="score in turn track by $index">
              {{score}}
          </div>
        </div>
      </div>
    </div>
    <div class="table-foot">
      <div class="row">
        <form ng-submit="table.receiveScores(table.game.score.currentTurnScores)">
            <input type="number"
                   step="5"
                   min="-500"
                   max="500"
                   id="table-input-cell"
                   class="table-input-cell col s3"
                   ng-model="table.game.score.currentTurnScores[$index]"
                   ng-repeat="player in table.game.players track by $index"
                   required>
            </input>
          <input type="submit" class="col s2">
        </form>
    </div>
      <div class="row">
        <div class="total-score-cell col s3" ng-repeat="score in table.game.score.totals track by $index">
          {{ score }}
        </div>
    </div>
  </div>
  <div id="winning-message" class="hidden">
    <p>{{table.displays.winningText}}<p>
    <div><button class="waves-effect waves-light btn grey" ng-click="table.reset()">start again</button></div>
  </div>
</section>
