nav {
  background-color: black;
  margin-bottom: 10vh;
}

.modal {
  color: black;
}

.modal h4 {
  text-align: center;
  background-color: gray;
}

.modal-content p strong {
  font-weight: bolder;
}

.stats-dropdown-button:hover + ul {
  background-color: red;
}

.modal-content thead {
  background-color: darkgray;
}

th {
  border-radius: 0;
}

.italic {
  font-style: italic;
}
