nav {
  background-color: black;
  margin-bottom: 10vh;
}

.modal {
  color: black;
}

.modal h4 {
  text-align: center;
  background-color: gray;
}

.modal-content p strong {
  font-weight: bolder;
}
