#start-button {
  margin-top: 50vh;
  right: -1000px;
}

.score-entry-cell, .table-head-cell, .table-body-cell, .total-score-cell, input {
  width: 25% !important;
  display: inline;
}

input[type=submit] {
  padding: 0.5% !important;
  color: black !important;
}

#winning-message {
  color: red;
}

#start-button-div {
  overflow: hidden;
  position: relative;
}
